/* *
{
    margin:0 auto;
    padding:0;
} */
body,h1,h2,p
{
    margin:0 auto;
    padding:0;
}

.blog
{
    width:1200px;
    height: auto;
    border:1px solid red;
    display: grid;
    grid-template-columns: 500px 200px 100px 400px;
    grid-template-rows: 200px 200px 150px 100px 400px auto;
    margin:0 auto;
    padding:0;
}
.blog section
{
    border:1px solid blue;
    padding:10px;
} 
.blog section:nth-child(1)
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: tomato;
}
.blog section:nth-child(2)
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(247, 168, 154);
}

.blog section:nth-child(3)
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgb(161, 228, 255);
}
.blog section:nth-child(5)
{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(215, 217, 218);
}
.page
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page div
{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: blueviolet;

}
.blog section:nth-child(10)
{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(215, 217, 218);
}
