<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <style>
      @import url(style.css);
    </style>
  </head>
  <body>
    <!------------------------        SideBar        -------------------------->
    <main>
      <div class="sidebar">
        <h2>CRM Dashborad</h2>
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-user">PROFILE</i></a>
          </li>
        </ul>
        <hr />
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-user">REPORT</i></a>
          </li>
          <a>Email</a>
          <a>Phone call</a>
          <a>Online Chart</a>
        </ul>
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-volume-low">CHANNELS</i></a>
          </li>
          <a href="#">Created</a>
          <a href="#">Open</a>
          <a href="#">Responded</a>
          <a href="#">Solved</a>
          <a href="#">Other</a>
          <a href="#">Delects</a>
        </ul>
        <hr />
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-tickrt">TICKECT STATUS</i></a>
          </li>
          <a>Graphs</a>
          <a>Text</a>
        </ul>
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-">Full Ticket Report</i></a>
          </li>
          <a>Graphs</a>
          <a>Text</a>
        </ul>
        <hr />
        <div class="DownloadReport">
          <a href="#">Download Report</a>
          <div class="download">
            <a href="#">Download<i class="fa-solid fa-download"></i></a>
          </div>
        </div>
      </div>

      <!---------------------        main page       --------------------->

      <div class="page">
        <div class="chart">
          <section class="avg">
            <p>Avg First Reply Time</p>
          </section>
          <section class="avg">
            <p>AVg Full Resolve Time</p>
          </section>
          <section><p>Message</p></section>
          <section><p>Email</p></section>
          <section><p>First Reply and Full Resolve Time</p></section>
          <section><p>Tickets Createvvs Tickets Solved</p></section>
          <section><p>Ticket By Type</p></section>
          <section><p>New Tickets vs Returned tickets</p></section>
          <section><p>Number of Ticket/Week Day</p></section>
        </div>
      </div>
    </main>
  </body>
</html>
